$accent-color: rgb(132, 101, 134);
$accent-color2:rgb(199, 121, 160);
$main-color: grey;
$title: 'Libre Barcode 39 Text', cursive;
$words: 'Sen', sans-serif;
$code: 'Source Code Pro', monospace;

body {
  font-family: $words;
  margin: 0px;
}

img {
  height: 91px;
  margin: 10px;
}

.userkits {
  margin-top: 101px;
}

a {
  color: $main-color !important;
}

a:hover {
  text-decoration:none !important;
}

.center {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: $code;
  text-transform: uppercase;
  color: $accent-color;
  letter-spacing: 9px;
  font-size: 21px !important;
  text-align: center;
}

h2 {
  font-family: $title;
  text-align: center;
  font-size: 51px !important;
}

h3 {
  font-family: $title;
  font-size: 21px !important;
}

p {
  font-family: $words;
  color: $main-color;
}

.profileInfo {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 31px;
}

.profile {
  display: flex;
  justify-content: center;
}


.fixed {
  max-width: 111px !important;
}


.kitName {
  font-family: $code;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 13px;
}

.kitNameModal {
  font-family: $code;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
  margin-right: 11px;
}

.kitType {
  font-size: 11px;
}

.authPages {
  margin: 101px;
}

.form {
  margin-top: 51px;
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
  font-family: $code;
}

.queries {
  width: 100%;
}

#selection, #type, #user {
  width: 300px;
}

.directions {
  width: 100%;
  display: flex;
  justify-content: center !important;
}


.modal-body {
  margin: 21px 73px 21px 73px;
}

.modalInfo {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}


.alert-primary {
  margin: 21px;
  background-color: $accent-color!important;
  border: none !important;
  opacity: 50%;
}

.alertText {
  color: white;
  text-align: center;
  font-size: 11px;
  margin-bottom: 0px;
}

.card-columns {
  margin: 31px;
}

.card-title {
  font-family: $title;
  cursor: pointer;
}

.identifier {
  font-size: 11px;
  display: flex;
  align-items: baseline;
}

.kitcards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.modal-title {
  font-family: $title;
}

.card {
  margin: 21px;
}

.delete {
  font-size: 9px;
  text-transform: uppercase;
  font-family: $code;
  font-weight: 3px;
}

.delete:hover {
  cursor: pointer;
  color: $accent-color2;
}

.navbar-brand {
  font-family: $title;
  color: $accent-color !important;
}

.nav-link {
  font-family: $words;
  font-size: 11px;
  letter-spacing: 2px;
}

.text-muted {
  display: flex;
  justify-content: space-between;
}

.activeLike {
  color: $accent-color2;

}

.activeLike:hover {
  color: $accent-color ;
  cursor: pointer ;
}

.like:hover {
  color: $accent-color;
  cursor: pointer;
}

.btn-circle {
  text-transform: uppercase;
  width: 30px;
  height: 30px;
  padding: 3px !important;
  border: none !important;
  border-radius: 50% !important;
  color: white !important;
  background-color: $accent-color !important;
  text-align: center;
  font-size: 11px;
}

.queryArea {
  margin: 101px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-primary {
  background-color: $accent-color !important;
  border: none !important; 
}

.badge {
  font-family: $words;
  font-size: 11px !important;
}

.badge-primary {
  background-color: $accent-color !important;
  border: none !important; 
}

.dropdown {
  font-family: $words;
}

.mr-auto {
  display:flex;
  width: 100%;
  justify-content: flex-end;
}

