$accent-color: rgb(120, 96, 122);
$main-color: grey;
$title: 'Libre Barcode 39 Text', cursive;
$words: 'Sen', sans-serif;
$code: 'Cutive Mono', monospace;

body {
  font-family: $words;
  margin: 101px;
}

h1 {
  font-family: $code;
  text-align: center;
}

h2 {
  font-family: $title;
  text-align: center;
  font-size: 51px !important;
}

p {
  font-family: $words;
  color: $main-color;
}

.kitName {
  font-family: $code;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 15px;
}

.kitNameModal {
  font-family: $code;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
  margin-right: 11px;
}

.kitType {
  font-size: 11px;
}

.authPages {
  margin: 101px;
}

.form {
  margin-top: 51px;
  display: flex;
  justify-content: center;
}

form {
  width: 50%;
  font-family: $code;
}


.modal-body {
  margin: 21px 73px 21px 73px;
}

.modalInfo {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.alert-primary {
  display: flex;
  margin: 21px;
  background-color: $accent-color!important;
  border: none !important;
  opacity: 50%;
}

.alertText {
  color: white;
  text-align: center;
  font-size: 11px;
}

.card-columns {
  margin: 31px;
}

.card-title {
  font-family: $title;
  cursor: pointer;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.modal-title {
  font-family: $title;
}

.card {
  margin: 21px;
}


.navbar-brand {
  font-family: $title;
  color: $accent-color !important;
}

.nav-link {
  font-family: $words;
  font-size: 11px;
  letter-spacing: 2px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 3px !important;
  border: none !important;
  border-radius: 50% !important;
  background-color: $accent-color !important;
  text-align: center;
  font-size: 11px;
}

.queryArea {
  margin: 101px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.btn-primary {
  background-color: $accent-color !important;
  border: none !important; 
}

.badge {
  font-family: $words;
  font-size: 11px !important;
}

.badge-primary {
  background-color: $accent-color !important;
  border: none !important; 
}

.dropdown {
  font-family: $words;
}

.mr-auto {
  display:flex;
  width: 100%;
  justify-content: flex-end;
}

